@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(28.2% 0.091 267.935);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #ffffff;*/
/*    --foreground: #ededed;*/
/*  }*/
/*} *!*/

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.inventoryForm {
  padding: 0 20%;
}

.inventoryForm > * {
  margin-bottom: 16px;
}

.customFormContainer {
  background-color: #acc18a;
  border-radius: 20px;
  box-shadow: 10px 10px #605b56;
  width: 65%;
}

.customFormFormat {
  padding: 50px;
  text-align: center;
}

.customFormFormat > .mb-3 {
  text-align: left;
}
