@tailwind base;
@tailwind components;
@tailwind utilities;


/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #ffffff;*/
/*    --foreground: #ededed;*/
/*  }*/
/*} *!*/

/*:root {*/
/*  --background: oklch(28.2% 0.091 267.935);*/
/*}*/

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* .btn:disabled, .btn.disabled, fieldset:disabled .btn {
  background-color: white;
} */

.inventoryForm {
  padding: 0 20%;
}

.inventoryForm > * {
  margin-bottom: 16px;
}


.customFormFormat {
  padding: 50px;
  text-align: center;
}

.customFormFormat > .mb-3 {
  text-align: left;
}

.btn-green-600 {
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1)) !important;
}